<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/projects.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container">
        <div class="section">
            <div class="inner-section">
                <div class="repo-list d-flex flex-wrap justify-content-around ">
                    <% repos.forEach(function(repo) { %>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= repo.name %>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= repo.language %>
                                </h6>
                                <p class="card-text">
                                    <%= repo.description %>
                                </p>
                                <a href="<%= repo.html_url %>" class="card-link">Repo link</a>
                            </div>
                        </div>
                        <% }); %>

                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/end-body'); %>
</body>

</html>