<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container">
        <div id="content" class="section">
            <div class="inner-section">
                <br><br><br><br>
                <ul>
                    Repos:

                    <% repos.forEach(function(repo) { %>
                        <li>
                            <%= repo.name %> - <%= repo.description %>
                        </li>
                        <% }); %>
                </ul>
            </div>
        </div>
    </div>


    <%- include('../partials/end-body'); %>
</body>

</html>